body{
	background: #ECEEF1;
	box-sizing: border-box;
	margin: 0;
	font-family: sans-serif;
  color: #2873EF;
}
header{
    text-align: center;
    padding: 10px;
    font-size: 40px;
    font-weight: 900;
    background-color: #FFFFFF;
    margin-bottom: 5px;
}
footer{
	text-align: center;
  background: #FFFFFF;
  margin-top: 5px;
}
.date-picker-body,.date-picker-container{
  display: flex;
  flex-direction: column;
}

.date-picker-nav{
  order: -1;
  
}
.date-picker-container .date-picker-nav{
  background: #FFFFFF;
  margin-right: 5px;
}
.date-picker-container .date-picker-ads{
  background: #FFFFFF;
  margin-left: 5px;
}

  .date-picker-container {
    flex-direction: row;
    flex: 1;
  }
  .date-picker-main-content{
    flex: 1;
   height: calc(100vh - 100px);
    background: #FFFFFF;
  }
  .date-picker-nav, .date-picker-ads {
    flex: 0 0 12em;
  }

  .date-picker{
  	position: relative;
  	width: 90%;
  	max-width: 320px;
  	/*box-shadow: 5px 5px	 #888888;*/
  	height: 60px;
  	cursor: pointer;
  	text-align: center;
  	user-select: none;
    margin:25px auto;
  }

  .date-picker:hover{
  	background-color: #F3F3F3;
  }
  .date-picker .selected-date{
  	width: 100%;
  	height: 100%;
  	display: flex;
  	justify-content: center;
  	text-align:center;
  	color: #2873EF;
  	font-size:28px;
  }
  .date-picker .selected-date:focus{
    outline: 1px solid #cfcfcf;
  }
  .date-picker .dates{
  	display: none;
  	position: absolute;
  	top:100%;
  	left:0;
  	right:0;

  }

  .date-picker .dates.active{

  	display: block;
  }

  .date-picker .dates .months{
  	display: flex;
  	justify-content: space-between;
  	align-items: center;
  	border-bottom: 2px solid #EEEEEE;

  }
  .date-picker .dates .months .arrows{
  	width: 35px;
  	height: 35px;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	font-size: 20px;
  	color: #2873EF; 
    margin-top: 3px;
    border: none;
    background: #FFFFFF;
  }
  .date-picker .dates .months .arrows:focus{
    outline: 1px solid #cfcfcf;
  }

  .date-picker .dates .months .arrows:hover{
  	background-color: #F3F3F3;
    border-radius: 2px;


  }
  .date-picker .dates .months .arrows:active{
  	background-color: #00CA85;
    border-radius: 2px;
  }

  .date-picker .dates .days{
  	display: grid; 
  	grid-template-columns: repeat(7, 1fr);
  	height: 200px;
  	border: 1px solid #cfcfcf;
    padding: 5px;
  }


  .date-picker .dates .days .day{ 
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	background-color: #FFFFFF;
    margin: 1px;

  }

.date-picker .dates .days:focus{
  outline: 1px solid #cfcfcf;

}
.date-picker .dates .days .day:focus{
  outline: 1px solid #cfcfcf;

}
   .date-picker .dates .days .day.selected{
   	background-color: #00CA85;
   }

    .date-picker .dates .days .day.move{
    outline: 1px solid #cfcfcf;
   }




